.note{
  border:1px solid white;
  border-radius:1em;
  box-sizing: border-box;
  position:absolute;
  padding:.5em;
  z-index:0;
}
.note .header{
  font-weight:bold;
  font-size:larger;
  display:inline-block;
  mix-blend-mode:difference;
  color:white;
  stroke: black;
  stroke-width:2px;
  cursor:pointer;
}
.note .actions{
  float:left;
  height:100%;
  border-right:1px black dashed;
  margin-right:.5em;
  display:none;
  overflow:hidden;
  width:2em;
}
.note .actions img{
  cursor:pointer;
  height:1.25em;
  margin:.5em auto;
  display:block;
}
.note .body{
  height:calc(100% - 2em);
  overflow-y:auto;
  text-align:justify;
  padding-right:.5em;
  overflow:hidden;
  font-family:serif;
  font-size:1em;
}

.note .body textarea{
  width:calc(100% - 0em);
  height:calc(100% - 2em);
  margin-top:1em;
  font-family:serif;
  font-size:1em;
}
.focus{
  top:0!important;
  left:0!important;
  width:100%!important;
  height:100%!important;
  transform:none!important;
  z-index:2;
}
.note:hover .actions{
  display:initial;
}
.note:hover .body{
  overflow:auto!important;
}
