#globalactions{
  background:lightblue;
  position:fixed;
  bottom:0px;
  left:0px;
  border-radius:0 1em 0em 0;
  padding:1em .5em;
  z-index:1;
}
#globalactions>*{
  padding:0 .5em;
  vertical-align:middle;
}
#globalactions img,#globalactions a{
  height:2em;
  cursor:pointer;
  display:inline-block;
}
#colorpicker{display:none;}
body,#notebook{
  width:100%;
  height:100%;
  padding:0;
  border:0;
  margin:0;
  display: inline-block;
}
#zoombar{
  background:lightblue;
  position:fixed;
  top:0px;
  right:0px;
  border-radius:0 0em 0em 1em;
  padding:.5em .5em;
  z-index:1;
  display:none;
}
#zoombar #zoomed{
  font-weight:bold;
}
